button{
    background: #EE4248;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width: 120px;
    height: 42px;
    border: none;
    &:hover{
        background-color: whitesmoke;
        color: #EE4248;
    }
}