footer{
    width: 1225px;
    margin-bottom: 40px;
    .sec-4{
        height: 250px;
        display: flex;
        align-items: flex-end;
    .oxiri{
        width: 317px;
        height: 130px;
    p{
        color: grey;
        line-height: 23px;
    }
    h2{
        padding-top: 20px;
    }
        span{
            color: black;
        }
    }
    .p22{
        padding-top: 15px;
        display: flex;
        align-items: flex-end;
    }
    .coy{
        width: 317px;
        height: 130px;
    }
  }
}
