.sec-1{
    display: flex;
    justify-content: space-between;
    width: 1125px;
    height: 500px;
    align-items: center;
    
    .matn{
        width: 560px;

        h1{
            height: 192px;
            font-size: 48px;
        }
        .p1{
            height: 58px;
            font-size: 20px;
            line-height: 30px;

        }
        button{
            margin-top: 20px;
            width: 160px;
        }
    }
}
.sec-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    background-color:rgba(246, 246, 246, 1) ;
    

    .matn2{
         width: 520px; 
         height: 350px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: flex-start;
        h2:nth-child(1){
            width: 520px;
            height: 86px;
            font-size: 32px;
            text-align: start;
        }
        p{
            font-size: 18px;
        }
    }
}
.sec-3{
    width: 1125px;
    height: 460px;
    h2:nth-child(1){
        padding-top: 70px;
        text-align: center;
        height: 150px;
        width: 100%;
    }

    .cub{
        display: flex;
        justify-content: space-between;
        align-items: center;
     
        .card{
            width: 363px;
            height: 360px;
            gap: 30px;

            button{
                margin: 20px;
            }
            h2{
                width: 320px;
                color: rgba(238, 66, 72, 1) ;
            }
            p{
                width: 320px;
                line-height: 27px;
                height: 108px;
            }
            img{
                margin-left: 20px;
            }
        }
    }
   

}